# Ignore data and model files
*.npz
*.h5
*.keras
*.onnx
*.json
*.ckpt
*.pb
*.pth
*.npy
*.toml
*.task
.python-version
*.lock

# Ignore folders with data
data/
data_copy/
saved_models/
unused_data/
saved_model_extra/


# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
eye-env/
.tfgpu-env/

# Ignore OS files
.DS_Store
Thumbs.db